<h4><%= @board.title %></h4>

<%= render './tickets/form' %>

<%#= render partial: 'ticket_status', locals: { up: true } %>

<div class="row">
  <div class="col s3">
    <h5>Backlog</h5>
    <hr>
    <div class="backlog">
      <% @tickets.backlog.each do |ticket| %>
        <%= render partial: 'ticket_status', locals: {ticket: ticket} %>
      <% end %>
    </div>
  </div>

  <div class="col s3">
    <h5>Current Sprint</h5>
    <hr>
    <div class="current-sprint">
      <% @tickets.current_sprint.each do |ticket| %>
        <%= render partial: 'ticket_status', locals: {ticket: ticket} %>
      <% end %>
    </div>
  </div>

  <div class="col s3">
    <h5>In Progress</h5>
    <hr>
    <div class="in-progress">
      <% @tickets.in_progress.each do |ticket| %>
        <%= render partial: 'ticket_status', locals: {ticket: ticket} %>
      <% end %>
    </div>
  </div>

  <div class="col s3">
    <h5>Done</h5>
    <hr>
    <div class="done">
    <% @tickets.done.each do |ticket| %>
        <%= render partial: 'ticket_status', locals: {ticket: ticket} %>
    <% end %>
    </div>
  </div>

</div>

