<h4><%= @board.title %></h4>

<%= render './tickets/form' %>

<div class="row">
      <div class="col s3">
        <h5>Backlog</h5>
        <hr>
        <% @tickets.backlog.each do |ticket| %>
        <ul>
          <li><strong><%= ticket.title %></strong></li>
          <li><%= ticket.description %></li>
          <li><%= link_to "Edit", edit_ticket_path(ticket) %> | <%= link_to "Delete", ticket, method: :delete %></li>
          <li><%= link_to "Up", up_ticket_path(ticket_id: ticket.id, status: "current_sprint"), method: :put %></li>
        </ul>
        <% end %>
      </div>

      <div class="col s3">
        <h5>Current Sprint</h5>
        <hr>
        <% @tickets.current_sprint.each do |ticket| %>
        <ul>
          <li><strong><%= ticket.title %></strong></li>
          <li><%= ticket.description %></li>
          <li><%= link_to "Edit", edit_ticket_path(ticket) %> | <%= link_to "Delete", ticket, method: :delete %></li>
          <li><%= link_to "Up", up_ticket_path(ticket_id: ticket.id, status: "in_progress"), method: :put %></li>
        </ul>
        <% end %>
      </div>

      <div class="col s3">
        <h5>In Progress</h5>
        <hr>
        <% @tickets.in_progress.each do |ticket| %>
        <ul>
          <li><strong><%= ticket.title %></strong></li>
          <li><%= ticket.description %></li>
          <li><%= link_to "Edit", edit_ticket_path(ticket) %> | <%= link_to "Delete", ticket, method: :delete %></li>
          <li><%= link_to "Up", up_ticket_path(ticket_id: ticket.id, status: "done"), method: :put %></li>
        </ul>
        <% end %>
      </div>

      <div class="col s3">
        <h5>Done</h5>
        <hr>
        <% @tickets.done.each do |ticket| %>
        <ul>
          <li><strong><%= ticket.title %></strong></li>
          <li><%= ticket.description %></li>
          <li><%= link_to "Edit", edit_ticket_path(ticket) %> | <%= link_to "Delete", ticket, method: :delete %></li>
        </ul>
        <% end %>
      </div>
</div>

