<!DOCTYPE html>
<html>
<head>
  <title>PivotalHacker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <nav>
    <div class="nav-wrapper">
      <%= link_to "Pivotal Hacker", root_path, class: "brand-logo" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "New Board", new_board_path %></li>
      </ul>
    </div>
  </nav>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <%= yield %>
</div>
</body>
</html>
